html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.ui-widget-content, th, td {
    font-size: 0.8em;
}

#page-wrapper {
    position: relative;
    
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
}

#menu {
    left: 150px;
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: blue;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


/*
#top500-table {
    font-size: 0.8em;
}
*/

.info {
    overflow:auto;
}
