doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title NYC Landlords In HPD data
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    //datatables + datatables select
    link(href='web/jquery.dataTables.min.css', rel='stylesheet')
    link(href='web/select.dataTables.min.css', rel='stylesheet')
    // leaflet CSS
    link(href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css', rel='stylesheet')
    // Custom CSS
    link(href='css/style.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Jquery
    script(src='web/jquery-1.11.3.min.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // datatables & datatables select
    script(src='web/jquery.dataTables.min.js')
    script(src='web/dataTables.select.min.js')
    // leaflet
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
  body
    //script(src='js/ui.js')
    script(src='js/util.js')
    script(src='js/map.js')
    script(src='js/main.js')
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            p
              a(href='#') Investigating HPD data
          li
            a(href='#') Information
          li
            a(href='#') Table
          li
            a(href='#') Results
          li
            a(href='#') Map
          li
            a(href='#') Landlord Lookup
          li
            a(href='#') Violations
          li
            a(href='#') Contact
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1 Large Landlords Hidden in HPD data
              p
                | New York City law requires that all owners of residential buildings with 3+ units register with HPD (Department of Housing, Preservation, and Development). These registrations are used by HPD to issue violations and track complaints. Although "official" parcel ownership data can be found a different city database, ACRIS, the owners listed on HPD registrations are commonally and government agengies. If a tenant decides to sue their landlord in housing court, the court considers HPD registration as a valid determination of ownership.
              p
                | It is common practice for large property owners and landlords to use an individual LLC or corporation for each building they own, and there is no legal restrictions on this. Accordingly, if one landlord owns 40 buildings, the landlord tpyically registers each building separately, under the legal enity that owns each individual building. This makes it difficult to know who are the largest property owners.
              p 
                | Each "corporate owner" registration must provide a business address;  it's often the address where tenants send their rent to. I have linked together all those addresses that are in common to locate corporations that register to the same address. Although it's technically fesable for multiple business to share the same address, it is highly likely that each one of these addresses represents a single corporate entity. Accordingly, in the tables below, you won't find a single "corporation" name.
              p Number of registrations = roughly equivalent to the total number of buildings registered to that address. 'Garden complexes', including multi-buliding comlexes (typically coops) are considered  a single building here.
              p Unique Corporations Registered = the number of 'unique' corporation names regierested at that address
              p click on an address to see a list of the corporation names
          .row
            .col-lg-12
              table#top500-table.display(cellspacing='0')
                thead
                  tr
                    th Corporate Address
                    th Zip
                    th Number of Registrations (~buildings)
                    th Unique Corporations Registered
          .row
            .col-lg-10
              h2 #1 Prudential Douglas Elliman: 372 Properties
              p Blah blah
              h2 Brusco Group
              p #[a(href='http://www.bruscogroup.com/') Brusco Group] is an upper west side reality company
              h2 Blackstone
              p blah blah
              h2 277 Classon
              p blah blah
              h2 419 LAFAYETTE STREET
    // popup
    include popup.jade
    // Menu Toggle Script
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
