doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Simple Sidebar - Start Bootstrap Template
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    //datatables + datatables select
    link(href='web/jquery.dataTables.min.css', rel='stylesheet')
    link(href='web/select.dataTables.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/style.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Jquery
    script(src='web/jquery-1.11.3.min.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // datatables & datatables select
    script(src='web/jquery.dataTables.min.js')
    script(src='web/dataTables.select.min.js')
  body
    //script(src='js/ui.js')
    script(src='js/util.js')
    script(src='js/main.js')
    #wrapper
      // Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            p
              a(href='#') Large owners Hidden in HPD data
          li
            a(href='#') Dashboard
          li
            a(href='#') Shortcuts
          li
            a(href='#') Overview
          li
            a(href='#') Events
          li
            a(href='#') About
          li
            a(href='#') Services
          li
            a(href='#') Contact
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1 Simple Sidebar
              p
                | This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
              p
                | Make sure to keep all page content within the 
                code #page-content-wrapper
                | .
              a#menu-toggle.btn.btn-default(href='#menu-toggle') Toggle Menu
          .row
            .col-lg-12
              table#top500-table.display(cellspacing='0')
                thead
                  tr
                    th Address
                    th Zip
                    th Number of buildings
                    th Unique Corporations Registered
    // popup
    .modal#popup
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            p Loading...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Menu Toggle Script
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });
