doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title NYC Landlords In HPD data
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    //danntatables + datatables select
    link(href='web/jquery.dataTables.min.css', rel='stylesheet')
    link(href='web/select.dataTables.min.css', rel='stylesheet')
    // leaflet CSS
    link(href='web/leaflet.css', rel='stylesheet')
    // Custom CSS
    link(href='css/style.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Jquery
    script(src='web/jquery-1.11.3.min.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // datatables & datatables select
    script(src='web/jquery.dataTables.min.js')
    script(src='web/dataTables.select.min.js')
    // leaflet
    script(src='web/leaflet.js')
  body
    //script(src='js/ui.js')
    script(src='js/util.js')
    script(src='js/util.js')
    script(src='js/map.js')
    script(src='js/address_search.js')
    script(src='js/main.js')
    #wrapper
      include sidebar.pug
      #page-content-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1 Large Corporate Landlords Hidden in HPD data
              p.subtitle This website helps to solve the <em>LLC problem</em> as some tenant advocates and housing researchers call it. <br> The table allow you to peek at who are NYC's biggest corporate landlords and which properties they own. <br> It links LLCs through a common bussiness address.
              p.subtitle <strong>Click on an address to see a list of corporation names registered and map of their properties</strong><br><small>You may have to wait 5-10 seconds to see the properties show up on the map</small>. 
          .row
            .col-lg-12
            a(name='table')
            h4.text-center <strong> 500 Largest Corporate Owners</strong>
            p.text-center.small <em> Data from May 2016</em>
            table#top500-table.display(cellspacing='0')
              thead
                tr
                  th Corporate Address
                  th Zip
                  th Number of Registrations (~buildings)
                  th Unique Corporations Registered
          include search.pug
          .row
            .col-lg-12
              a(name='info')
              h2 Information
              include text.pug
              a(name='results')
              include results.pug
          .row
            .col-lg-10
              a(name='violations')
              h2 Violations
              p Also coming soon: which corporate addresses have the most HPD violations! 
          .row
            .col-lg-10
              a(name='contact')
              h4 Contact
              p See more (anti) real-state research websites here: #[a(href="https://nycchr.org") NYC Critical Housing Research]
              p Contact Ziggy, the site's creator, at ziggy[at]elephant-bird.net
              p Source code #[a(href="http://github.com/aepyornis/hpd") available here]. Made with love and support from #[a(href="http://thelearningcollective.nyc") The Learning Collective]
              p <strong>NOTICE:</strong> this website may only be used for good and not evil. Use by real-estate or for any profit-making purpose is not permitted! 
    // popup
    include popup.pug
    // Menu Toggle Script
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });

