h2 Some interesting results:
h4 Prudential Douglas Elliman (675 Third Avenue)
p This company is one of NYC's largest, owns at least 372.
h4 Blackstone only has 19? (345 Park Avenue)
p Blackstone -- the malevolent mega-landlord who just purchased Stuy-Town -- only shows 19 properties registered at their HQ, 345 Park Avenue. Perhaps they focus their attention to other cities or don't register their buildings in this manner?
h4 All Year Management (277 Classon Ave)
p A major player in Brooklyn Real Estate with over 100 buildings, mostly in Bushwick.
h2 More results to come!
