h2 Some interesting results:
h4 Prudential Douglas Elliman (675 Third Avenue)
p This company is one of NYC's largest, owns at least 375.
h4 Blackstone has 73. (345 Park Avenue)
p Blackstone -- the malevolent mega-landlord who just purchased Stuy-Town. 6 months ago this database only showed them with 19 properties registered at their HQ, 345 Park Avenue, but now they have over 70. Have they done on a NYC buying spree?
h4 All Year Management (277 Classon Ave)
p A major player in Brooklyn Real Estate with over 100 buildings, mostly in Bushwick.
h2 More results to come!
