.row
  .col-lg-10
    a(name='lookup')
    h2 Landlord lookup
    .container-fluid
      .row
        .col-md-5.col-lg-5.col-sm-4
          .input-group(style='width: 100%')
            input(type='text', placeholder='address').form-control#address-search-input
        .col-md-2.col-lg-2.col-sm-2
          select(name="borough", style='max-width: 100%;font-size: .8em')
            option(selected, style='display:none;') Brorough
            option(value='1') Manhattan
            option(value='2') Bronx
            option(value='3') Brooklyn
            option(value='4') Queens
            option(value='5') Staten Island
        .col-md-1.col-lg-1.col-sm-1
          button(type='submit').btn.btn-default#address-search-btn search
      .row
        .col-md-10.col-lg-10.col-sm-10
          p Type in an address of a building
.modal#address-search-popup
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            h5 address is registered to XYZ
            h5 XYZ business addrss is BUSINESS-ADDRESS
            h5 There are X other buildings regierested at that address
            //.modal-corp-list
            //  p Loading...
            //#modal-map
            //  #map
            //  p loading...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
