#sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            p
              a(href='#') Investigating HPD data
          li
            a(href='#info') Info
            rmation
          li
            a(href='#table') Table
          li
            a(href='#lookup') Landlord Lookup
          li
            a(href='#results') Results
          li
            a(href='#violations') Violations
          li
            a(href='#contact') Contact
